.modalOverlay {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 999; 
};
  
.modalContainer {
    position: fixed; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    width: 100%;
    max-width: 500px; 
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000; 
};
  
.modalTitle {
    font-family: 'Roboto-Bold', sans-serif;
    font-size: 32px;
    margin-bottom: 20px;
    text-align: center;
};
  
.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
};
  
.label {
    display: block; 
    font-weight: bold;
    margin-bottom: 8px; 
    font-size: 14px;
    color: #333; 
};
  
.input,
.textarea,
.select,
.fileInput {
    width: 100%; 
    padding: 10px;
    margin-bottom: 20px; 
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box; 
};

.select {
    width: 100%; 
    padding: 10px;
    margin-bottom: 20px; 
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    background-color: #fff; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    appearance: none; 
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M7 10l5 5 5-5z' fill='%23666'%3E%3C/path%3E%3C/svg%3E"); /* Custom arrow */
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 16px;
};
  
.select:focus,
.input:focus,
.textarea:focus,
.select:focus,
.fileInput:focus
{
    outline: none;
    border-color: #9ED4E8; /* Highlight border on focus */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
};
  
.textarea {
    resize: vertical; 
};
  
.buttonGroup {
    display: flex;
    justify-content: space-around; 
    gap: 20px; 
    margin-top: 20px; 
};
  
 