.generalButton {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: inline-block;
}

.generalButton:hover {
  opacity: 0.8;
}

.generalButton:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

/* Submit button styles */
.submitButton {
  background-color: #67e684;
  color: white;
}

.submitButton:hover {
  background-color: #40b85a;
}

/* Cancel button styles */
.cancelButton {
  background-color: #e4747f;
  color: white;
}

.cancelButton:hover {
  background-color: #d13848;
}

/*Add button styles */
.addButton {
  padding: 10px 20px;
  background-color: #CCEBF6; 
  color: #061216; 
  border: 1px solid #CCEBF6 ;
  border-radius: 8px;
  font-family: 'Roboto-Bold', sans-serif;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.2s ease;
}
  
.addButton:hover {
  background-color: #5bb9db; 
  transform: scale(1.05);
}
  
.addButton:active {
  background-color: #14a6db; 
  transform: scale(0.95);
}

/* Update styles */
.updateButton {
  padding: 10px 20px;
  background-color: #f8ef74; 
  color: #061216; 
  border: 1px solid #f8ef74;
  border-radius: 8px;
  font-family: 'Roboto-Bold', sans-serif;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.2s ease;
}
  
.updateButton:hover {
  background-color: #f8e008; 
  transform: scale(1.05);
}
/* Delete styles */
.deleteButton {
  padding: 10px 20px;
  background-color: #e96565; 
  color: #061216; 
  border: 1px solid #e96565 ;
  border-radius: 8px;
  font-family: 'Roboto-Bold', sans-serif;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.2s ease;
}
  
.deleteButton:hover {
  background-color: #ee2525; 
  transform: scale(1.05);
}